h1 {
  margin-left: 10px;
}

pre {
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;

  .code {
    flex-grow: 1;
    margin: 10px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 15px;
  }
}

.github-banner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
